.button {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.button[disabled] {
  cursor: not-allowed;
  /* max-height: 40px; */
  /* background-color: transparent; */
  /* border: 1px solid rgba(180, 180, 180, 0.5); */
  /* color: rgba(66, 66, 66, 1); */
}
